*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  background-color: #f3f3f3;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
