:root {
  --primary-clr-blue: #1c57c9;
  --secondary-clr-blue: #2053d1;
  --primary-clr-white: #ffffff;
  --secondary-clr-white: #ecf0f7;
  --primary-clr-green: #3acf6e;
  --primary-clr-grey: #606b86;
  --secondary-clr-grey: #606c84;
  --box-shadow-grey: #97979744;
  --primary-clr-black: #262b36;
  --outline: 0.2rem solid red;
}

/* MOBILE → DEFAULT */

/* HEADER */
.header__logo--menu {
  width: 100%;
  height: 13rem;
  background-color: var(--primary-clr-blue);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 2rem;
}

.menu__button {
  padding: 0.5rem 1rem;
  color: var(--primary-clr-white);
  background-color: var(--primary-clr-blue);
  border: 0.09rem solid var(--primary-clr-white);
  border-radius: 0.5rem;
  margin-bottom: 0.7rem;
  font-weight: bold;
  font-size: 1.3rem;
}

/* MAIN */
/* CALL TO ACTION SECTION */
.hero-intro__heading--info-blk {
  width: 100%;
  height: 65rem;
  background-color: var(--primary-clr-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-intro__heading-blk,
.hero-intro__info-blk {
  max-width: 95%;
  min-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-intro__heading-txt-blk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-intro__heading-txt {
  font-size: 4.2rem;
  text-align: center;
  color: var(--primary-clr-white);
}

.hero-intro__heading-clr-green {
  color: var(--primary-clr-green);
}

.hero-intro__info-blk {
  width: 100%;
}

.hero-intro__info-txt {
  color: var(--primary-clr-white);
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.4;
}

.hero-intro__button-blk {
  width: 100%;
  height: 10rem;
  background-color: var(--primary-clr-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6rem;
}

.intro__btn-1,
.intro__btn-2 {
  padding: 1rem 2rem;
  background-color: var(--primary-clr-blue);
  color: var(--primary-clr-white);
  border: 0.01rem solid var(--primary-clr-white);
  width: 8rem;
  white-space: nowrap;
  border-radius: 0.4rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.intro__btn-1 {
  background-color: var(--primary-clr-green);
  border: none;
  margin-left: -2rem;
}

.intro__btn-2 {
  margin-right: 1.5rem;
}

.hero-intro__pattern-blk {
  height: 15rem;
  width: 100%;
  display: flex;
  border-bottom-right-radius: 30rem;
  background-color: var(--primary-clr-blue);
}

/* THREAT AWARENESS CSS */
.main__threat-info-blk {
  margin-top: 7rem;
  width: 100%;
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary-clr-white);
}

.threat__info {
  height: 25rem;
  width: 90%;
  display: flex;
  align-items: center;
  margin-bottom: 6rem;
}

.threat__info-txt {
  text-align: center;
  font-weight: 600;
  color: var(--primary-clr-grey);
  line-height: 3.2rem;
}

/* SMART HOME FEATURES SECTION  */
.home__features-info-blk {
  width: 100%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-clr-white);
  margin-bottom: 6rem;
}

.home__features-info {
  width: 85%;
  text-align: center;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
}

.home__features-info-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondary-clr-blue);
  letter-spacing: 1rem;
}

.home__features-info-heading {
  margin: 1.8rem 0;
  font-size: 3.2rem;
  color: var(--primary-clr-black);
  font-weight: bold;
}

.home__features-info-txt {
  color: var(--primary-clr-grey);
  line-height: 2.8rem;
}

/* HOME FEATURES */

.home__features-blk {
  width: 100%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.home__feature-container {
  width: 88%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.4rem;
}

.feature-heading {
  margin: 1.5rem 0;
  font-weight: bold;
  color: var(--primary-clr-black);
}

.feature-txt {
  text-align: center;
  font-size: 1.3rem;
  line-height: 2rem;
  color: var(--primary-clr-grey);
}

/* SMART HOME UPGRADE SECTION */
/* UPGRADE INFO */
.home__upgrade-blk {
  width: 100%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-clr-white);
  margin-bottom: 6rem;
}

.home__upgrade-info-blk {
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upgrade__info-blk {
  width: 95%;
  text-align: center;
}

.upgrade__info-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondary-clr-blue);
  letter-spacing: 1rem;
}

.upgrade__info-heading {
  margin: 1.8rem 0;
  font-size: 3.2rem;
  color: var(--primary-clr-black);
  font-weight: bold;
}

/* UPGRADE PHOTO */

.home__upgrade-photo-blk {
  width: 100%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-clr-white);
  margin-bottom: 6rem;
}

.upgrade__photo-blk {
  width: 100%;
  z-index: 3;
}

.upgrade__photo {
  width: 100%;
}

/* UPGRADABLE */
.upgrade-blk {
  width: 100%;
  min-height: 55rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-clr-blue);
  margin-top: -20rem;
  z-index: 2;
}

.upgrade {
  width: 90%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-clr-white);
  margin-bottom: 3.6rem;
}

.upgrade:first-child {
  margin-top: 20rem;
}

.upgrade__img-blk {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upgrade__title {
  color: var(--primary-clr-white);
  margin: 2.4rem 0 1.5rem;
  font-weight: 600;
}

.upgrade__txt {
  text-align: center;
  color: var(--primary-clr-white);
  font-size: 1.3rem;
  line-height: 2rem;
}

.upgrade__pattern-blk {
  height: 15rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-bottom-left-radius: 30rem;
  background-color: var(--primary-clr-blue);
}

/* SMART HOME SERVICE SECTION  */
.home__service-blk {
  width: 100%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 18rem;
}

.home__service-info-blk {
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service__info {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.4rem;
}

.service__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondary-clr-blue);
  letter-spacing: 1rem;
}

.service__heading {
  margin: 2rem 0 1.5rem;
  font-weight: bold;
  text-align: center;
  font-size: 3.2rem;
  color: var(--primary-clr-black);
}

.service__txt {
  text-align: center;
  line-height: 2.8rem;
  color: var(--primary-clr-grey);
}

.service__img {
  margin-bottom: 5rem;
}

/* SERVICE CAROUSEL  */
.service__carousel-blk {
  width: 100%;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-clr-white);
}

.carousel-blk {
  width: 100%;
  min-height: 12rem;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  padding: 5%;
  column-gap: 1.6rem;
  background-color: var(--primary-clr-white);
}

.carousel__item {
  height: 9.6rem;
  min-width: 75%;
  background: var(--primary-clr-white);
  border-radius: 1.6rem;
  box-shadow: 0.01rem 0.01rem 5rem var(--box-shadow-grey);
  display: flex;
  align-items: center;
  padding: 7%;
}

.carousel__indicator-blk {
  width: 100%;
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicator-blk {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.6rem;
}

.indicator {
  background: var(--secondary-clr-grey);
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  opacity: 20%;
}

.indicator:nth-child(2) {
  background: var(--primary-clr-blue);
  opacity: 100%;
}

/* SMART HOME TESTIMONIAL SECTION */

.home__testimonial-blk {
  max-width: 100%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16rem 0 7.5rem;
  background-color: var(--secondary-clr-white);
}

.testimonial__info-blk {
  min-width: 100%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.testimonial__info {
  max-width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondary-clr-blue);
  letter-spacing: 1rem;
}

.testimonial__heading {
  margin: 1.7rem 0;
  font-weight: bold;
  text-align: center;
  font-size: 3.2rem;
  color: var(--primary-clr-black);
}

/* USER TESTIMONIAL CARD */

.testimonial__card-blk {
  width: 100%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-clr-white);
}

.testimonial__card-carousel {
  width: 100%;
  min-height: 40rem;
  background-color: var (--secondary-clr-white);
  padding: 5%;
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
  overflow-x: scroll;
  position: relative;
}

.testimonial__card {
  min-width: 31.5rem;
  height: 30.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2.4rem;
  background-color: var(--primary-clr-white);
  position: relative;
}

.card__user-img {
  position: absolute;
  top: -3rem;
}

.card__user-quote {
  text-align: center;
  line-height: 2.8rem;
  color: var(--primary-clr-black);
  margin-top: 3.4rem;
  width: 28rem;
}

.card__user-name {
  font-weight: 600;
  color: var(--primary-clr-black);
  margin-top: 3.6rem;
}

.card__user-position {
  margin-top: 0.9rem;
  text-align: center;
  font-size: 1.3rem;
  color: var(--primary-clr-grey);
  line-height: 2.4;
}

.card__quote-design {
  position: absolute;
  bottom: 2.8rem;
  right: 2.5rem;
}

.card-carousel__indicator-blk {
  margin-top: -2.5rem;
}

/* SMART HOME CONTACT SECTION */

.home__contact-info-blk {
  max-width: 100%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16rem 0 10rem;
  background-color: var(--primary-clr-white);
}

.contact__info-blk {
  min-width: 100%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.contact__info {
  max-width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondary-clr-blue);
  letter-spacing: 1rem;
}

.contact__heading {
  margin: 1.7rem 0;
  font-weight: bold;
  text-align: center;
  font-size: 3.2rem;
  color: var(--primary-clr-black);
}

/* .contact__img-blk {
}

.contact__img {
}

.contact__form-blk {
} */

/*SMART HOME CONTACT FORM */

.contact__form-blk {
  min-width: 100%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-clr-white);
  padding: 5%;
  margin-top: 6.4rem;
}

.form {
  min-width: 100%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.form__group {
  width: 100%;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 1.6rem;
  margin-bottom: 2rem;
}

.form__group label {
  line-height: 2.4;
  font-size: 1.5rem;
  color: var(--primary-clr-black);
}

.form__group input {
  width: 31.5rem;
  height: 4.8rem;
  padding: 2%;
  margin-bottom: 1.6rem;
}

.form__group-textarea {
  margin-bottom: 4rem;
}

.form__textarea {
  max-height: 12rem;
  max-width: 31.5rem;
  min-height: 12rem;
  min-width: 31.5rem;
}

.form__group-blk {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form__submit-btn {
  width: 9rem;
  height: 4rem;
  background-color: var(--primary-clr-green);
  font-weight: bold;
  color: var(--primary-clr-white);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.4rem;
  box-shadow: 0.01rem 0.01rem 5rem var(--box-shadow-grey);
}

/* FOOTER */
/*FOOTER-ADDRESS*/

.footer {
  max-width: 100%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-clr-white);
}

.footer__address-blk {
  min-width: 100%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.address__info {
  max-width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.address__heading {
  margin: 4rem 0 1rem;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  color: var(--primary-clr-black);
}

.address__txt {
  text-align: center;
  line-height: 3rem;
  color: var(--primary-clr-black);
  font-size: 2rem;
  margin-bottom: 3rem;
}

.address__tel,
.address__email {
  font-weight: bold;
}

.address__tel {
  margin-bottom: 1rem;
}

.address__tel a,
.address__email a {
  color: var(--primary-clr-black);
  font-size: 2rem;
  text-decoration: none;
  font-weight: 500;
}

/* FOOTER NAVIGATION */

.footer__nav-blk {
  width: 100%;
  min-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-clr-white);
  margin-top: 3.6rem;
}

.nav__info {
  min-width: 80%;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.nav__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  justify-items: center;
}

.nav__link {
  text-decoration: none;
  color: var(--primary-clr-black);
  font-weight: bold;
  cursor: pointer;
  transition: color 0.125s ease-in-out;
}

.nav__link:active {
  color: var(--primary-clr-blue);
}

/* FOOTER ABOUT */
.footer__about-blk {
  max-width: 100%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-clr-white);
  margin-top: 3rem;
}

.about__info {
  min-width: 80%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__info-heading {
  font-weight: bold;
  color: var(--primary-clr-black) !important;
}

.about__info-item {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--primary-clr-grey);
  list-style: 4.8rem;
  cursor: pointer;
}

/* FOOTER SOCIAL */
.footer__social-blk {
  min-width: 100%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-clr-white);
  margin-top: 2.4rem;
}

.social__info-blk {
  min-width: 100%;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-clr-white);
}

.social__info-heading-blk {
  min-height: 5rem;
  min-width: 50%;
}

.social__info-heading {
  margin: 1.6rem 0;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  color: var(--primary-clr-black);
}

.social__info {
  min-width: 50%;
  min-height: 5rem;
  display: grid;
  grid-template-columns: 5rem 1fr;
  align-items: center;
}

.social__img {
  margin: 0 2rem;
}

.social__txt {
  font-size: 2rem;
  color: var(--primary-clr-grey);
  margin-left: 2rem;
  cursor: pointer;
}

/* FOOTER COPYRIGHT */
.footer__copyright-blk {
  min-width: 100%;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-clr-white);
  margin-top: 3rem;
}

.copyright__info {
  min-width: 100%;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-clr-white);
  line-height: 2.8rem;
}

.copyright__txt {
  color: var(--primary-clr-black);
  vertical-align: bottom;
}
/*TABLET */

@media (min-width: 768px) {
  /* HEADER */
.header__logo--menu {
  justify-content: space-between;
  padding: 0 3.1rem
}

.hero-intro__heading--info-blk {
  border-bottom-right-radius: 24rem; 
} 
 
/* MAIN */
/* CALL TO ACTION SECTION */
 
.hero-intro__heading-blk {
  max-width: 80%; 
  margin-bottom: 3.6rem; 
}


.hero-intro__heading-txt {
  font-size: 5.5rem; 
  line-height: 7.4rem; 
}
 
.hero-intro__info-blk {
  max-width: 90%; 
  min-height: 10rem;  
  margin-bottom: 3.2rem;
  
}

.hero-intro__button-blk {
  max-width: 80% ;
}

.hero-intro__info-txt { 
  font-size: 2rem;
  text-align: center;
  line-height: 3.2rem;
}
 
.hero-intro__pattern-blk {
  height: 10rem;
  width: 60%;
  display: flex;
  border-bottom-right-radius: 0rem;
  background-color: var(--primary-clr-blue);
  margin-top: -13rem;
  z-index: 0;
}

/* THREAT AWARENESS CSS */ 
.threat__info { 
  width: 75%; 
  margin-bottom: 3rem;
}

.threat__info-txt {
  font-size: 2rem; 
}

}

/* DESKTOP */
@media (min-width: 1024px) {
}

/* LARGE DESKTOP*/
@media (min-width: 1280px) {
}
