:root {
  --primary-clr-blue: #1c57c9;
  --primary-clr-white: #ffffff;
  --primary-clr-green: #3acf6e;
  --outline: 0.2rem solid red;
}

/* HEADER */
.header__logo--menu {
  width: 100%;
  height: 13rem;
  background-color: var(--primary-clr-blue);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 2rem;
}

.menu__button {
  padding: 0.5rem 1rem;
  color: var(--primary-clr-white);
  background-color: var(--primary-clr-blue);
  border: 0.09rem solid var(--primary-clr-white);
  border-radius: 0.5rem;
  margin-bottom: 0.7rem;
  font-weight: bold;
  font-size: 1.3rem;
}

/* MAIN */
/* CALL TO ACTION SECTION */
.hero-intro__heading--info-blk {
  width: 100%;
  height: 65rem;
  background-color: var(--primary-clr-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-intro__heading-blk,
.hero-intro__info-blk {
  max-width: 95%;
  min-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-intro__heading-txt-blk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-intro__heading-txt {
  font-size: 4.2rem;
  text-align: center;
  color: var(--primary-clr-white);
}

.hero-intro__heading-clr-green {
  color: var(--primary-clr-green);
}

.hero-intro__info-blk {
  width: 100%;
}

.hero-intro__info-txt {
  color: var(--primary-clr-white);
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.4;
}

.hero-intro__button-blk {
  width: 100%;
  height: 10rem;
  background-color: var(--primary-clr-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6rem;
}

.intro__btn-1,
.intro__btn-2 {
  padding: 1rem 2rem;
  background-color: var(--primary-clr-blue);
  color: var(--primary-clr-white);
  border: 0.01rem solid var(--primary-clr-white);
  width: 8rem;
  white-space: nowrap;
  border-radius: 0.4rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.intro__btn-1 {
  background-color: var(--primary-clr-green);
  border: none;
  margin-left: -2rem;
}

.intro__btn-2 {
  margin-right: 1.5rem;
}

.hero-intro__pattern-blk {
  height: 15rem;
  width: 100%;
  display: flex;
  border-bottom-right-radius: 30rem;
  background-color: var(--primary-clr-blue);
}
